
{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Gestion des catégories</h2>
    <form method="post" id="category-form" action="{% url 'categorie' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>

    <h2>Liste des catégories existantes</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="center_my-text">Mettre à jour</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td class="center_my-text">
                           <a href="{% url 'categorie' %}?pk={{ category.pk }}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                                               <!-- Bouton pour ouvrir le modal -->
                    <button class="btn custom-button-delete-1" data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ category.pk  }}">
                        <i class="bi bi-trash-fill me-2"></i> &#xF78B; Supprimer
                    </button>

                        </td>
                        <!-- Modal de confirmation -->
                    <div class="modal fade" id="deleteModal{{ category.pk  }}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel{{ category.pk  }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ category.pk }}">
                                        Confirmation de suppression</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous sûr de vouloir supprimer {{category.name}} du panier ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annuler</button>
                                    <!-- Formulaire pour la suppression -->
                                    <form method="post" action="{% url 'category-delete' category.pk  %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn \F78B">Supprimer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                        fin de modal-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
