{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form method="POST" id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div id="shipping-info" {% if not order.need_shipping_address %} style="display:none"{% endif %}>
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input class="form-control" type="text" name="street" placeholder="Rue..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="city" placeholder="Ville..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="zipcode" placeholder="Code postale..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="country" placeholder="Pays..">
                            </div>

                            <hr>
                            <button id="form-button" class="btn btn-success btn-block" type="submit">Continue</button>
                        </div>
                        Company:
                        {{request.user.customer.company}}
                    </div>
                </form>
            </div>
            <br>
            <div class="box-element" id="payment-info" {% if order.need_shipping_address %}style="display:none"{% endif %}>
                <small> Paypal Options </small>
                <button id="make-payment">Payer</button>
                <p id="payment-message">Adresse soumise, étape suivante : le paiement</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                        <div style="flex:2"><p>{{ item.product.name }}</p></div>
                        <div style="flex:1"><p>{{ item.product.price|floatformat:2 }} €</p></div>
                        <div style="flex:1"><p>{{ item.quantity }}</p></div>
                    </div>
                {% endfor %}
                <h5>Articles: {{ order.get_cart_items }}</h5>
                <h5>Total:{{ order.get_cart_total }} € </h5>
            </div>
        </div>
    </div>
{% endblock %}
