{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

{% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}


<div class="row">

</div>

<!-- Order Summary Section -->
<div class="row mt-4">
        <!-- Address Section -->
    <div class="col-lg-6 mb-4 shadow">
        <div class="card shadow">
            <div class="card-body" id="form-wrapper">
                {% if existing_address %}
                    <!-- Display existing address -->
                    <h4 class="card-title">Votre dernière adresse de livraison </h4>
                    <h5>{{ request.user.customer.company }}</h5>
                    <p class="card-text">{{ existing_address }}</p>
                    <!-- Add Edit button to open modal /Trigger/Open The Modal -->
                    <button id="myBtn" class="custom-button btn btn-primary">Edit</button>
                <hr>
                {% else %}
                    <!-- Address Form -->
                    <form method="POST" id="form">
                        {% csrf_token %}
                        {% if address_form %}
                            <div id="user-info">
                                <!-- Shipping Information -->
                                <div id="shipping-info" {% if not order.need_shipping_address %} style="display:none"{% endif %}>
                                    <hr>
                                    <h4>Adresse de livraison:</h4>
                                    <p>Vous n'avez pas encore fourni d'adresse</p>
                                    <hr>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="street" placeholder="Street..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="city" placeholder="City..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="zipcode" placeholder="Postal Code..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="country" placeholder="Country..">
                                    </div>
                                    <hr>
                                    <button id="form-button" class="btn btn-success btn-block" type="submit">Save</button>
                                    <hr>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>

        <!-- Payment Section -->
        <div class="card shadow mt-4 ">
            <div class="card-body" id="payment-info" {% if order.need_shipping_address %}style="display:none"{% endif %}>
                <h2 class="card-title">Commander</h2>
                <!-- Ajoutez le lien vers process_order sans slug -->
                <a href="{% url 'process-order' %}" class="btn btn-primary custom-button">Payer</a>
                <p class="card-text">Adresse enregistrée, étape suivante : paiement</p>
                <hr>
            </div>
        </div>


    </div>


    <div class="col-lg-6 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Retour au Panier</a>
                <hr>
                <h4 class="card-title">Résumé de la Commande</h4>
                <hr>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                        <div style="flex:2"><p class="card-text">{{ item.product.name }}</p></div>
                        <div style="flex:1"><p class="card-text">{{ item.product.price| intcomma }} €</p></div>
                        <div style="flex:1"><p class="card-text">{{ item.quantity }}</p></div>
                    </div>
                {% endfor %}
                <h5 class="card-text">Articles: {{ order.get_cart_items }}</h5>
                <h5 class="card-text">Total: {{ order.get_cart_total | intcomma }} € </h5>
            </div>
        </div>
    </div>
</div>



<!-- The Modal -->

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="ferme">&times;</span>

    </div>
    <div class="modal-body">
        <form method="post" action="{% if existing_address.id %}{% url 'edit_address' existing_address.id %}{% endif %}">


            {% csrf_token %}

            <div>
                <div >
                    <hr>
                    <p>Adresse d'expedition pour {{request.user.customer.company}}:</p>
                    <hr>
                             <!-- Utilise les valeurs de l'adresse existante comme valeurs par défaut dans le formulaire -->
                    <div class="form-field">
                        <label for="street">Rue:</label>
                        <input class="form-control" type="text" name="street" placeholder="Rue.." value="{{ existing_address.street }}">
                    </div>
                    <div class="form-field">
                        <label for="city">Ville:</label>
                        <input class="form-control" type="text" name="city" placeholder="Ville.." value="{{ existing_address.city }}">
                    </div>
                    <div class="form-field">
                        <label for="zipcode">Code postal:</label>
                        <input class="form-control" type="text" name="zipcode" placeholder="Code postale.." value="{{ existing_address.zipcode }}">
                    </div>
                    <div class="form-field">
                        <label for="country">Pays:</label>
                        <input class="form-control" type="text" name="country" placeholder="Pays.." value="{{ existing_address.country }}">
                    </div>

                    <hr>
                    <button class="btn btn-success btn-block custom-button" type="submit">Enregistrer</button>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>

</div>

<!-- Edit Address Modal for Checkout -->

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("ferme")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


{% endblock %}
