{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  {% for customer in customers %}
    {% if orders_items_ordered|length > 0 %}
    <div class="card">
      <div class="card-header">
          <h4>Commandes de <span class="badge rounded-pill bg-dark"> {{customer.company}}</span></h4>

      </div>
      <div class="card-body">
        <h5 class="card-title"><span class="badge rounded-pill bg-light text-dark"> {{customer.company}}</span></h5>
        <p class="card-text">Articles commandés par <strong>{{ customer.first_name }} {{ customer.last_name }}</strong> <span class="badge rounded-pill bg-dark">{{ customer.email }}</span></p>
        <span class="badge rounded-pill bg-light text-dark">
        <a href="https://www.infogreffe.fr/"> Information sur la solvabilité</a>
        </span>
      </div>
    </div>
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Date de la commande</th>
            <th>Statut</th>
            <th class="center_my-text">Modiifier</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in orders_items_ordered %}
            <tr>
              <td>{{ order_item.product.name }}</td>
              <td>{{ order_item.quantity }}</td>
              <td>{{ order_item.get_total |floatformat }} €</td>
              <td>{{ order_item.date_added|date:"Y-m-d H:i:s" }}</td>
              <td>
                {% if order_item.status %}
                  {{ order_item.get_status_display }}
                {% endif %}
              </td>
              <td class="center_my-text">
                <a href="{% url 'consultant-order-update' pk=order_item.id %}">
                  <i class="fas fa-edit" style="color: green;"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Pas d'articles commandés pour {{ customer.company }}</p>
    {% endif %}

    {% if orders_items_not_ordered|length > 0 %}
      <p><span class="badge rounded-pill bg-warning text-dark">Nouvels articles dans le panier</span> pour {{ customer.company }}</p>
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Date de la commande</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in orders_items_not_ordered %}
            <tr>
              <td>{{ order_item.product.name }}</td>
              <td>{{ order_item.quantity }}</td>
              <td>{{ order_item.get_total }}</td>
              <td>{{ order_item.date_added|date:"Y-m-d H:i:s" }}</td>
              <td>
                {% if order_item.status %}
                  {{ order_item.get_status_display }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Pas d'articles dans le panier de {{ customer.company }}</p>
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}