{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

  <h1 class="my-5">Nos produits</h1>

  {% for category in categories %}
    <h2 class="mt-5">{{ category }}</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for product in products %}
        {% if product.category == category %}
        <div class="col box-element">
          <div class="card">
            {% if product.image %}
              <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="card-img-top img-fluid" style="transition: transform 0.2s ease-in-out;">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <a href="{{ product.get_absolute_url }}" class="btn btn-secondary custom-button">Voir l'article</a>

              <a href="{% url 'product-update' product.slug %}" class="btn btn-secondary custom-button">
                Editer
              </a>

              <!-- Bouton pour ouvrir le modal -->
              <button class="btn btn-danger custom-button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ product.id }}">
                <i class="bi bi-trash-fill me-2"></i>Supprimer
              </button>

              <!-- Modal de confirmation -->
              <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel{{ product.id }}">Confirmation de suppression</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Êtes-vous sûr de vouloir supprimer ce produit?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                      <!-- Formulaire pour la suppression -->
                      <form method="post" action="{% url 'product-delete' product.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% empty %}
        <div class="col">
          <p>Nous sommes en rupture de stock pour les articles de cette catégorie</p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

<script>
  document.querySelectorAll('.card-img-top').forEach(img => {
    img.addEventListener('mouseenter', () => {
      img.style.transform = 'scale(1.09)';
    });
    img.addEventListener('mouseleave', () => {
      img.style.transform = 'scale(1)';
    });
  });
</script>

{% endblock %}
