{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}


<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.imageURL }}" alt="{{ product.name }}" /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{ product.category }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>Prix unitaire : {{ product.price }} €</span>
                </div>
                <div class="fs-5 mb-5">
                    <span>Prix pour <span class="badge badge-warning" style="color: #0d9c43; background-color: black">1 000 </span>unités seulement {{ product.display_1000_units_price | intcomma}} €</span>
                </div>
<p class="card-text"></p>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <div class="text-end">
                        <a href="{% url 'add-to-cart' product.slug %}" class="btn custom-button" style="background-color: #27b547; border-color: #27b547;">Ajouter au panier2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Related items section -->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Produits similaires</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.imageURL }}" alt="{{ product.name }}" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product price-->
                                Prix unitaire : {{ product.price }} €
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-success mt-auto" style="color:black" href="{{ product.get_absolute_url }}">Afficher</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}