{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
    <h1>Produits de la catégorie "{{ category.name }}"</h1>
    <hr>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.unit_price }} €</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-success btn-custom" >Voir le produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
