{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/shop/big-product.png' %}">
        <div class="box-element product" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h6><strong>Product</strong></h6>
                <button class="btn btn-outline-secondary custom-button">Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Afficher</a>
            </div>
            <div>
                <h6>Quantité</h6>
                <h4><strong>1000 €</strong></h4>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/shop/big-product.png' %}">
        <div class="box-element product" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h6><strong>Product</strong></h6>
                <button class="btn btn-outline-secondary custom-button">Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Afficher</a>
            </div>
            <div>
                <h6>Quantité</h6>
                <h4><strong>1000 €</strong></h4>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/shop/big-product.png' %}">
        <div class="box-element product" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h6><strong>Product</strong></h6>
                <button class="btn btn-outline-secondary custom-button">Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Afficher</a>
            </div>
            <div>
                <h6>Quantité</h6>
                <h4><strong>1000 €</strong></h4>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

