@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

:root {
    --primary-color: #009042;
    --primary2-color: #0D9C43;
    --primary3-color: #1AA845;
    --primary4-color: #27b547;
    --primary5-color: springgreen;
    --customblack-color: #000000;
  --secondary-color: #777;
  --background-color: white;

  --custom-button-bg: #009042;
  --custom-button-text: #000000;
  --custom-button-hover-bg: #000000;
  --custom-button-hover-text: #009042;

}

html, body, h4, h5{
    font-family: 'Merriweather', serif;
    color:var(--secondary-color);

    line-height: 1.8;
    margin: 0;

}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #0c4128;
    margin-top: 2em;
    margin-bottom: 2em;
     }

.container{
 background-color: rgba(222, 241, 227, 0.13);
}


custom-card-header{
    background-color: black;
    color: #1AA845;
}

/*.page-specific {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}*/
/*------------------------------------NAVIGATION--------------------------------------------*/
.bg-dark {
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: var(--primary-color);

}
.navbar-dark .navbar-nav .nav-link{
    color: var(--primary-color); !important;
  }
.nav-link{
  color: var(--primary-color); !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary5-color);

}
.dropdown-menu{
  color:var(--primary-color);
  background-color:black;
}
.dropdown-item{
  color: var(--primary-color);
}
.dropdown-item:hover{
  color: black;
  background-color: var(--primary5-color);
}
.navbar-toggler-icon{
  color: var(--primary-color);
}
.navbar-dark .navbar-toggler{
  color: var(--primary-color);
  border-color:var(--primary-color);
}

.navbar-toggler{
    color: #0c4128;
}
/* Custom CSS rules */
.navbar-toggler-icon {
  color: #0b5ed7;
}

/* Default Bootstrap CSS rules */
.navbar-dark .navbar-toggler-icon {
  color: #fff;
}

/*------------------------------------Logo--------------------------------------------*/
.navbar-brand img {
  max-width: 40%;
  height: auto;
}
/*------------------------------------BTN--------------------------------------------*/
.custom-button {
  background-color: var(--custom-button-bg) !important;
  color: var(--custom-button-text) !important;
  border-color: var(--custom-button-bg) !important;
  margin: 1em;
    float: right;
}

.custom-button:hover {
  background-color: var(--custom-button-hover-bg) !important;
  color: var(--custom-button-hover-text) !important;
}

.group-custom-button {
  background-color: var(--custom-button-bg) !important;
  color: var(--custom-button-text) !important;
  border-color: var(--custom-button-bg) !important;
  margin-right: 0.2em;
   margin-top: 0.3em;
}

.group-custom-button:hover {
  background-color: var(--custom-button-hover-bg) !important;
  color: var(--custom-button-hover-text) !important;
}

.modal-supprimer{
    border:none;
    color:red;
    background-color: transparent;
    text-decoration: none;
    margin:1em;

}
.editer{
    border:none;
    color:var(--primary4-color);
    background-color: transparent;
    text-decoration: none;
    margin:1em;
}

/*------------------------------------BTN--------------------------------------------*/
.custom-button-delete-1 {
  background-color: transparent;
  color: var(--custom-button-text) !important;
  border: none;
}

.custom-button-delete-1:hover {
  background-color: var(--custom-button-hover-bg) !important;
  color: var(--custom-button-hover-text) !important;
}

.\F78B {
    /* Ajoutez vos styles personnalisés ici */
    border: none;
    background-color: transparent;
    color: red;
    /* Autres styles personnalisés... */
}

/*------------------------------------MESSAGERIE--------------------------------------------*/
.inbox-icon-container {
  margin-right: 15px;
}
.inbox-icon {
  color: #333;
  transition: 0.5s;
}
.inbox-icon:hover {
  transition: 0.5s;
}
.sent-message {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 10px 25px;
  width: 25%
}
.received-message {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 30px;
  padding: 10px 25px;
  width: 25%;
  float: right;
}
.empty-text {
  color: #777;
  font-size: 1.5rem;
  text-align: center;
}

.list-group-item.active {
    z-index: 2;
    color: var(--primary5-color);
    background-color: var(--customblack-color);
    border-color: var(--primary5-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/*------------------------------------AUTRE--------------------------------------------*/

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}


#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: var(--primary-color);
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}


.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
/*------------------------------------container fluid--------------------------------------------*/
.container-fluid{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.presentation{
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 2rem;
}

 ----------------------------------Create a Parallax Effect --------------------------------------------
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("{% static 'css/kendal-hnys.jpg' %}");
  min-height: 100%;
}

/* Home Second image (Portfolio) */
.bgimg-2 {
  background-image: url("{% static 'css/boxed-water-is-better.jpg' %}");
  min-height: 400px;
}

/* Home Third image (Contact) */
.bgimg-3 {
  background-image: url("{% static 'css/passion.jpg' %}");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
.vert-clair{
  color:#27b547;
}

.welocme{
  line-height: 1rem;
  line-height: .8;
}


.list-group-item.custom-active.active,
.list-group-item.custom-active:active,
.list-group-item.custom-active:focus {
    background-color: transparent;
    color:black;
}
/*.list-group-item:hover{*/
/*  background-color: black;*/
/*  color:#27b547;*/
/*}*/

a.categorie {
 /* Couleur de texte souhaitée */
    color: var(--primary-color);
  text-decoration: none;
}
a{
    color: #0d9c43;
}
a:hover{
    text-decoration: none;
    color:black;!important;
}

a.categorie-plus:link{
  color:darkgreen;
}

a.categorie-plus:hover {
  color: springgreen!important;  /* Couleur de texte au survol */
}
/*  CHECKOUT MODAL -----------------*/
/* The Modal (background) */
.list-group-item.active {
    z-index: 2;
    color: var(--primary5-color);
    border: none;

}

.list-group, .list-group-item{
    border-left: none;
    border-right: none;
}

select option:hover {
    background-color: var(--primary5-color) !important;
}
select option:checked {
    background-color: var(--primary5-color) !important;
}
.center_my-text{
    text-align: center;
}