{% extends "base.html" %}

{% block content %}
    <h2>Consultants</h2>
    <ul>
        {% for consultant in consultants %}
            <li>
                {{ consultant.first_name }} - {{ consultant.last_name }} - {{ consultant.email }} --- ''{{consultant.clients.count }}
                <ul>
                    {% for client in consultant.clients.all %}
                        <li>{{ client.first_name }} - {{ client.last_name }} - {{ client.email }} - {{ client.company }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

