
{% extends "base.html" %}

{% block content %}

  <div class="container mt-5">
    <h2 class="mb-4">Consultants et leurs clients</h2>

    {% for consultant, clients in consultant_clients %}
      <div class="card mb-4 shadow">
        <div class="card-header">
          <h5 class="mb-0">{{ consultant.first_name }} {{ consultant.last_name |upper }} (Matricule: {{ consultant.matricule }})</h5>
        </div>
        <div class="card-body">
          {% if clients %}
            <ol class="list-group">
              {% for client in clients %}
                <li class="list-group-item">{{ client.company }} - {{ client.first_name }} {{ client.last_name|upper }} - contact : {{ client.email }}</li>
              {% endfor %}
            </ol>
          {% else %}
            <p>Pas de clients assignés encore.</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}