{% extends 'base.html' %}
{% block content %}
  <h2>Vos commandes</h2>

  <div class="mb-3">
    <h3 >Commandes payées</h3>

    {% if ordered_items %}
      {% for order_item in ordered_items %}
        <div class="card shadow mb-3 ">
          <div class="card-header" style="background-color: black; color: #0d9c43">
            <p>Order ID: {{ order_item.order.id }} | Transaction ID: {{ order_item.order.transactionId }}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ order_item.product.name }}</h5>
            <p class="card-text">Quantity: {{ order_item.quantity }}</p>
            <p class="card-text">Price: {{ order_item.get_total | floatformat }} €</p>
            <p class="card-text">Date Added: {{ order_item.date_added|date:"Y-m-d H:i:s" }}</p>
            <p class="card-text">Status: {{ order_item.get_status_display }}</p>
            {% if order_item.comment %}
            <p class="card-text">Commentaire de votre consultant: {{ order_item.order.comment }}</p>
            {% else %}
            <p class="card-text">Pas de commentaire de votre consultant</p>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Aucun article commandé trouvé.</p>
    {% endif %}
  </div>

  <div class="mb-3">
    <h3>Vos commandes en attente dans le panier</h3>

    {% if not_ordered_items %}
      {% for order_item in not_ordered_items %}
        <div class="card shadow">
          <div class="card-header" style="background-color: black; color: #0d9c43">
            <p>Order ID: {{ order_item.order.id }} | Transaction ID: {{ order_item.order.transactionId }}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ order_item.product.name }}</h5>
            <p class="card-text">Quantity: {{ order_item.quantity }}</p>
            <p class="card-text">Price: {{ order_item.get_total | floatformat }} €</p>
            <p class="card-text">Date Added: {{ order_item.date_added|date:"Y-m-d H:i:s" }}</p>
            <p class="card-text">Status: {{ order_item.get_status_display }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Pas d'articles non commandé.</p>
    {% endif %}
  </div>

{% endblock %}
