{% load static %}


<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ventalis{% endblock %}</title>
    <!-- Add your CSS and JavaScript links here -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<header>
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.email }}! <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign up</a></p>
        {% endif %}
</header>

<body>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
    <script src="https://unpkg.com/htmx.org@1.2.1"></script>
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>