{% extends 'base.html' %}

{% load static %}
{% block container_class %}{% endblock %}
{% block no_margin_class %}container-fluid{% endblock %}
{% block content %}
<style>


  .parallax {
    /* Set background images */
    background-image: url("{% static 'images/shop/kendal-hnys.jpg' %}");

    /* Full height */
    height: 30%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .parallax2 {
    /* Set background images */
    background-image: url("{% static 'images/shop/paproc.jpg' %}");
    /* Full height */
    height: 40%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


</style>

<div class="parallax"></div>

<div class="w3-container w3-content w3-padding-64" id="about">
   <h3 class="w3-center presentation">HISTOIRE DE VENTALIS</h3>

 <p class="presentation">Ventalis a été fondée en 2010 par une équipe d'entrepreneurs passionnés par le marketing et l'environnement. Ils ont remarqué une tendance croissante des entreprises à vouloir améliorer leur image de marque tout en adoptant des pratiques durables et respectueuses de l'environnement. C'est ainsi que l'idée de créer une entreprise qui se concentrerait sur la vente de produits marketing écologiques a émergé.</p>
  <p class="presentation">Au fil des années, Ventalis a connu une croissance rapide et a étendu ses activités à travers toute la France. Ils ont réussi à fidéliser une clientèle diversifiée et ont acquis une excellente réputation en offrant des produits de qualité supérieure, des services rapides et un engagement environnemental fort.</p>
  <p class="presentation">En 2019, Ventalis a pris un nouvel engagement pour l'environnement en décidant de reverser 20% de son chiffre d'affaires annuel à des projets environnementaux locaux et internationaux. Cette initiative a été très bien accueillie par les clients de Ventalis, qui ont montré leur soutien en préférant payer un peu plus cher pour des produits éco-responsables.</p>

</div>


<div class="parallax2"></div>

<div class="w3-container w3-content w3-padding-64" >
  <p class="presentation"> Ventalis est née de la prise de conscience de l'importance de la préservation de notre planète. Au cours des 20 dernières années, l'actualité environnementale a fait la une des médias à maintes reprises : changement climatique, pollution, destruction de la biodiversité, entre autres.</p>
  <p class="presentation">Ces événements ont inspiré les fondateurs de Ventalis à créer une entreprise qui serait non seulement performante sur le plan commercial, mais qui contribuerait également à un avenir plus durable. Ils ont donc décidé de reverser une partie de leur chiffre d'affaires annuel à des projets écologiques, une démarche qui a été très bien accueillie par leurs clients.</p>
  <p class="presentation"><blockquote class="presentation">
      "Ventalis est une entreprise exemplaire dans son engagement en faveur de l'environnement. Leur approche innovante pour proposer des produits de qualité supérieure tout en respectant la planète est un modèle à suivre pour toutes les entreprises." - Le Monde
  </blockquote></p>
  <p class="presentation">Apujourd'hui, Ventalis est reconnue comme une entreprise écoresponsable et engagée dans la lutte contre le changement climatique. Nous sommes fiers de participer à la transition vers une économie plus verte et plus durable en soutenant des projets qui contribuent à la préservation de notre planète.</p>
  <p class="presentation">Nous continuerons à innover et à nous améliorer pour répondre aux besoins de nos clients tout en respectant notre engagement en faveur de l'environnement. Chez Ventalis, nous sommes convaincus que l'entreprise peut être un moteur de changement positif pour la société et pour notre </p>
</p>
</div>

<div class="parallax">


</div>



{% endblock %}

