{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="row mt-5">
    <div class="col">
      <a href="{% url 'inbox' %}" class="btn btn-light">Accéder à la boîte de réception</a>
    </div>

    <div class="col-md-5 col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    <h4>Commencer la converstaion</h4>
      <form method="POST">
        {% csrf_token %}
        <p>Entrez le mail de la personne avec laquelle vous souhaitez parler</p>
        {{ form.as_p}}
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-success custom-button rounded-pill">Continue</button>
        </div>
      </form>
  </div>

</div>

{% endblock %}