{% extends 'base.html' %}


{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="card col-md-12 mt-5 p-3 shadow-sm">
            {% if thread.receiver == request.user %}
                <h5>Message de : @{{ thread.user }}</h5>
            {% else %}
                <h5>Message à @{{ thread.receiver }}</h5>
            {% endif %}
        </div>
    </div>

    {% if message_list.count == 0 %}
        <div class="row my-5">
            <div class="col-md-12">
                <p class="empty-text">No Messages</p>
            </div>
        </div>
    {% else %}
        {% for message in message_list %}
            <div class="row">
                <div class="col-md-12 my-1">
                    {% if message.sender_user == request.user %}
                        <div class="sent-message my-3">
                            <p><b>@{{ message.sender_user }}</b> écrit {{ message.body }}</p>
                        </div>
                    {% else %}
                        <div class="received-message my-3">
                            <p>{{ message.sender_user }} écrit <b>{{ message.body }}</b></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="card col-md-12 p-3 shadow-sm">
            <form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p}}

                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-outline-success custom-button rounded-pill">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
