{% extends 'base.html' %}

{% block content %}
<div class="container h-100 d-flex flex-column" style="height: calc(100% - 56px);">
    <div class="row">
        <div class="card col-md-12 mt-5 p-3 shadow-sm">
            {% if thread.receiver == request.user %}
                <h5>Message de : @{{ thread.user }}</h5>
            {% else %}
                <h5>Message à @{{ thread.receiver }}</h5>
            {% endif %}
        </div>
    </div>

    <div class="flex-grow-1 overflow-auto my-3" style="flex-grow: 1; overflow: auto;">
        {% if message_list.count == 0 %}
            <div class="row my-5">
                <div class="col-md-12">
                    <p class="empty-text">No Messages</p>
                </div>
            </div>
        {% else %}
            {% for message in message_list %}
                <div class="row">
                    <div class="col-md-12 my-1 d-flex {% if message.sender_user == request.user %} justify-content-end {% else %} justify-content-start {% endif %}">
                        {% if message.sender_user == request.user %}
                            <div class="my-3 p-2" style="background-color: #27B547; max-width: 60%; width: auto; border-radius: 10px">
                                <p><b>@{{ message.sender_user }}</b> écrit {{ message.body }}</p>
                            </div>
                        {% else %}
                            <div class="my-3 p-2" style="background-color: #f2f2f2; max-width: 60%; width: auto;border-radius: 10px">
                                <p><b>{{ message.sender_user }}</b> écrit {{ message.body }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        <div class="card col-md-12 p-3 shadow-sm">
            <form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p}}

                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-outline-success custom-button rounded-pill">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
